/* Main CSS */

body {
    background-color: #eeeeee;
    margin: 50px;
    font-family: sans-serif;
}

h3 {
    color:#992233;
}

li {
    line-height: 26px   
}
a {
    color: #883366;
    text-decoration: none;
    font-weight: bold; 
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

svg {
    border-style: dashed;
    background-color: white;
    margin-left: 200px;
}

#textManipulation {
    margin: 50px;
    margin-left: 200px;
    margin-right: 400px;
    background-color: white;
    padding: 20px;
}

    
